<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr> 
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24855069?query=java%20Odessa">Senior Java Engineer / Team Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24855075?query=java%20Odessa">Senior Java Engineer / Team Lead</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24852463?query=java%20Odessa">Senior Automation (Java) QA Engineer (SDET)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24852465?query=java%20Odessa">Senior Automation (Java) QA Engineer (SDET)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24850203?query=java%20Odessa">QA Automation Engineer (Java)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24629828?query=java%20Odessa">Perl or Groovy Developer (Odessa or remote)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24852461?query=java%20Odessa">Senior Automation (Ja⁢va) QA Engineer SDET</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24839354?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Lognet Украина, Lognet Billing, ДП Компании</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24794163?query=java%20Odessa">Java developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Sumac</td> 
     <td class="salary">от 35 000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24684374?query=java%20Odessa">Middle / Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24851328?query=java%20Odessa">Perl Developer (Odessa or remote)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24855062?query=java%20Odessa">Senior Engineer / DWH Architect</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24855065?query=java%20Odessa">Senior Engineer / DWH Architect</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24966995?query=java%20Odessa">Remote WMS Developer / VB.NET Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО OpticsPlanet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24839805?query=java%20Odessa">Senior Cloud Engineer #6565</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24839806?query=java%20Odessa">Senior Cloud Engineer #6565</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24850463?query=java%20Odessa">Cloud Engineer for Next-Gen Automotive Infotainment Project</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24854151?query=java%20Odessa">Blockchain Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24710308?query=java%20Odessa">Blockchain Chief Architect - $8250/month - REMOTE WORK</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Crossover</td> 
     <td class="salary">7 000-8 250 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24708808?query=java%20Odessa">VP of Technical Product Management - $16,500/month - REMOTE WORK</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Crossover</td> 
     <td class="salary">15 000-16 500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/25031480?query=java%20Odessa">Android Developer</a></td> 
     <td class="city">Винница</td> 
     <td class="companyName">SteelKiwi</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24959372?query=java%20Odessa">QA Automation Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24852304?query=java%20Odessa">Middle/Senior C#/.NET Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ЗАО GroupDocs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/22842399?query=java%20Odessa">Senior PHP Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">CAMO IT</td> 
     <td class="salary">2 200-4 950 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24839345?query=java%20Odessa">Middle Frontend Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Lognet Украина, Lognet Billing, ДП Компании</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24854288?query=java%20Odessa">R&amp;D Engineer/Data Scientist</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО VeraData East</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24852403?query=java%20Odessa">Database Administrator</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Пивденный, Акционерный Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24800434?query=java%20Odessa">Водитель такси со своим автомобилем</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Апельсин, Такси</td> 
     <td class="salary">от 20 000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>